{% extends 'base.html.twig' %}

{% block body %}
    {% include 'front/_header.html.twig' %}

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    {% include 'front/_footer.html.twig' %}
{% endblock %}
